{%- set varDesc -%}{{ description if description else metadata.description }}{%- endset -%}
{%- set varTitle -%}{{ title if (title + " | " + metadata.site) else metadata.title }}{%- endset -%}
<!DOCTYPE html>
<html lang="{{metadata.lang}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset={{metadata.locale}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover"/>

  <!-- generic meta -->
  <title>{{ varTitle }}</title>
  <meta name="description" content="{{varDesc}}" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- favicon -->
  <link rel="icon" type="img/png" href="/assets/favicon/favicon.png" />

  <!-- social -->
  <meta property="og:image" content="/assets/images/og-image-banner.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:site_name" content="{{metadata.site}}" />
  <meta property="og:title" content="{{varTitle}}" />
  <meta property="og:description" content="{{varDesc}}" />

  <!-- prefetch dns -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
  <link rel="preconnect" href="https://www.googletagmanager.com" />

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
  <link rel="preload" href="/assets/fonts/Atkinson/Atkinson-Hyperlegible-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" href="/assets/fonts/Atkinson/Atkinson-Hyperlegible-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" href="/assets/fonts/Atkinson/Atkinson-Hyperlegible-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" href="/assets/fonts/Atkinson/Atkinson-Hyperlegible-BoldItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  
  <!-- styles -->
  <link rel="stylesheet" href="/assets/css/style.css?v={% version %}" />

  <!-- scripts -->
  <script src="/@root/public/assets/js/alpine.js?v={% version %}" defer></script>
</head>

<body class="bg-primary" class="max-h-screen overflow-hidden relative">
  <div id="layout" class="mx-auto px-3 sm:px-5 lg:px-10 max-w-screen-2xl">
    <div class="w-3/12 invert text-white bg-slate-900 border-r-2 border-solid border-white">
    {% include "header.njk" %}
    </div>
    <div class="w-9/12 overflow-auto">
      <main class="h-screen">
        {% block main %}
        {{ content | safe }}
        {% endblock %}
      </main>
      <div>
      {% include "footer.njk" %}
      </div>
    </div>
  </div>
</body>

</html>